    <!-- start Header Area -->
    <header id="header2" >
        <div class="container-fluid">
            <div  class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <div id="logo"  class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                    <a href="/">
                        <img class="logo-1" src="{{ 'img/logo4.png' | relative_url }}" alt="" title="" />
                    </a>
                    <a href="/">
                        <img class="logo-2" src="{{ 'img/logo.png' | relative_url }}" alt="" title="" />
                    </a>
                </div>
                <div class="nav-wrap d-flex flex-row align-items-center">
                    <nav id="nav-menu-container">
                        <ul class="nav-menu">
                            <li class="menu-has-children">
                                <a href="{{ '/#' | relative_url }}">Home</a>
                            </li>
                            <li>
                                <a href="{{ '/#features' | relative_url }}">Features</a>
                            </li>
                            <li>
                                <a href="{{ '/#pricing' | relative_url }}">Pricing</a>
                            </li>
                            <li class="menu-has-children">
                                <a href="{{ 'blog' | relative_url }}">Blog</a>
                            </li>
                            <li>
                                <a href="{{ '/#contact' | relative_url }}">Contact</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div>
                    <a class="genric-btn" href="{{ site.request-demo }}">Free trial</a>
                </div>
                <!-- #nav-menu-container -->
            </div>
        </div>
    </header>
    <!-- End Header Area -->


